{% include header %}

<h3 class="main-subtitle">Welcome to the Skooli educational platform.</h3>

<div class="button-container">
    <a href="{{ path('login_page') }}" class="buttonlink" id="main-signup-btn">Sign in</a>
    <br />
    <div class="description-container">
        <p class="description">
            Made by Thomas, Mourad, Titouan & Ali
        </p>
    </div>
</div>

{% include footer %}