<body>
{% include header %}

<div class="UE_name">
    <h1>{{ ue.code }} : {{ ue.name }}</h1>
</div>

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Posts</a></li>
        <li><a href="#tabs-2">Utilisateurs</a></li>
    </ul>

    <div id="tabs-1">
        {% include 'ue_content/postUE.html.twig' %}
    </div>

    <div id="tabs-2">
        {% include 'ue_content/userUE.html.twig' %}
    </div>
</div>


{% include footer %}
</body>