{% include header %}

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">UE list</a></li>
        <li><a href="#tabs-2">User list</a></li>
    </ul>
    <div id="tabs-1" class="ue-tab">
        {% include uelist %}
    </div>
    <div id="tabs-2" class="user-tab">
        {% include userlist %}
    </div>
</div>


{% include footer %}