{% include header %}

<div class="form-container">
    <h3 class="subtitle">Welcome back.</h3>
    <form class="reg-log-form" action="?" method="POST">
        <label for="login-email">Email :</label>
        <input id="login-email" name="email" type="email" required />

        <label for="login-password">Password :</label>
        <input id="login-password" name="password" type="password" required />

        <label for="show-password">Show password :</label>
        <input id="show-password" type="checkbox" onclick="toggleShowPassword()">

        <button type="submit" class="buttonlink submit-reg">Sign in</button>
    </form>
</div>

{#<div class="testing-menu">#}
{#    <h3>Testing menu</h3>#}
{#    <a href="student.php" class="buttonlink">student.php</a>#}
{#    <a href="professor.php" class="buttonlink">professor.php</a>#}
{#    <a href="assignation_ue_user.php" class="buttonlink">assignation_ue_user.php (Prototype)</a>#}
{#</div>#}

{% include footer %}